.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    width: auto;
}
.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}
.button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
.error {
    color: red;
    margin-top: 20px;
}
.history {
    margin-top: 30px;
}
.history-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.history-item:last-child {
    border-bottom: none;
}
.history-item .expression {
    font-weight: bold;
}
.history-item .result {
    color: green;
}
.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn :hover {
    background-color: #45a049;
}
.result {
    border-radius: 13cm;
    border-color: #193292;
    border-top: #ccc;
    bottom: auto;
}